<template>
    <transition name='fade'>
        <div
            class="modal-wrap tw-z-50 tw-fixed tw-flex tw-justify-center tw-inset-0 tw-p-3 md:tw-p-5 "
            @click.prevent="$emit('close')"
        >
            <div class="tw-max-w-md tw-overflow-x-hidden">
                <div class="modal-header tw-bg-blue tw-py-2 tw-px-3 sm:tw-py-3 sm:tw-px-4 md:tw-py-5 tw-px-6 tw-w-full tw-flex tw-items-center">
                    <p class="modal-title tw-flex-grow tw-font-semibold tw-text-white">
                        <slot name="header" />
                    </p>
                    <button
                        class="modal-close tw-shadow tw-flex-shrink-0 tw-bg-white tw-text-red tw-rounded-full tw-py-px tw-px-2 tw--mr-3 tw-ml-2 hover:tw-shadow hover:tw-text-red-lightest hover:tw-border-red tw-border tw-border-transparent tw-border-solid all-duration-1 focus:tw-outline-none"
                        @click.prevent="$emit('close')"
                    >
                        ×
                    </button>
                </div>
                <div class="modal-body tw-bg-white tw-py-2 tw-px-3 sm:tw-py-3 sm:tw-px-4 md:tw-py-5 tw-px-6 tw-overflow-y-auto">
                    <slot />
                </div>
                <div class="modal-footer tw-bg-white tw-border-t tw-border-solid tw-border-grey tw-py-2 tw-px-3 sm:tw-py-3 sm:tw-px-4 md:tw-py-5 tw-px-6" v-if="footer">
                    <slot name="footer" />
                </div>
            </div>
        </div>
    </transition>
</template>
<script>
export default {
    name: 'modal',
    props: {
        footer: Boolean,
    },

}

</script>
