body {
    background-color: theme('colors.smoke');
    background-image: linear-gradient(350deg,
        theme('colors.smoke') 0%,
        theme('colors.white') 50%,
        theme('colors.smoke') 100%);
    background-attachment: fixed;
}

// transition duration
@for $i from 1 through 6 {
    .all-duration-#{$i} {
        transition: all $i * 0.5s;
    }
}

// transition
.fade-enter-active,
.fade-leave-active {
    transition: all .5s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.form-field,input,textarea {
    @apply tw-appearance-none tw-bg-transparent tw-border-none tw-w-full tw-text-grey tw-mr-3 tw-py-1 tw-px-2 tw-leading-tight;

    &:focus {
        @apply tw-outline-none
    }
}
