<template>
    <div class="task-calendar-section">
        <h3 class="tw-my-5 tw-text-xl tw-font-bold tw-text-blue-darker tw-text-center">
            {{ selectedDateString }}
        </h3>
        <transition-group name="fade" tag="ul">
            <li
                class="tw-flex tw-items-center tw-p-1 tw-mb-2 tw-bg-white tw-shadow tw-border tw-border-solid tw-border-smoke"
                v-for="date in dates"
                :key="date"
            >
                <span class="tw-flex-shrink-0 tw-w-24 tw-text-xs tw-p-px tw-text-dark tw-font-semibold">
                    {{ dateStringShow(date) }}
                </span>
                <template v-if="tasks[date] && tasks[date].length > 0">
                    <transition-group
                        name="fade"
                        tag="div"
                        class="task-items tw-flex tw-flex-wrap"
                    >
                        <div
                            class="task-item tw-flex tw-flex-col tw-justify-between tw-p-1 tw-m-1 tw-relative tw-border tw-border-dashed  tw-rounded-lg tw-max-w-sm sm:tw-max-w-xs"
                            v-for="task in tasks[date]"
                            :key="task.id"
                            :class="isDone(task.done) ? 'tw-border-green' : 'tw-border-grey'"
                        >
                            <h3 class="task-item-title tw-text-sm tw-mb-3 tw-font-bold ">
                                {{ task.title }}
                            </h3>
                            <div class="tw-mt-5">
                                <strong class="task-item-time tw-text-lg tw-block tw-text-center  tw-mb-3 tw-text-grey tw-underline">
                                    {{ task.time_todo }}
                                    <img
                                        class="icon-done tw-inline-block tw-h-6 tw-mx-1"
                                        src="/assets/img/done.svg"
                                        v-if="isDone(task.done)"
                                    />
                                </strong>
                                <div class="btn-group tw-flex tw-justify-center tw-items-center">
                                    <button
                                        class="tw-flex-shrink-0 tw-bg-green tw-rounded-full tw-py-px tw-px-1 tw-mx-2 hover:tw-shadow hover:tw-bg-green-lightest hover:tw-border-green tw-border tw-border-transparent tw-border-solid all-duration-1 focus:tw-outline-none"
                                        @click.prevent="showTask(task)"
                                    >
                                        <img class="icon-show tw-inline-block tw-h-4" src="/assets/img/show.svg">
                                    </button>
                                    <button
                                        class="tw-flex-shrink-0 tw-bg-purple tw-rounded-full tw-py-px tw-px-1 tw-mx-2 hover:tw-shadow hover:tw-bg-purple-lightest hover:tw-border-purple tw-border tw-border-transparent tw-border-solid all-duration-1 focus:tw-outline-none"
                                        @click.prevent="editTask(task)"
                                    >
                                        <img class="icon-edit tw-inline-block tw-h-4" src="/assets/img/edit.svg">
                                    </button>
                                    <button
                                        class="tw-flex-shrink-0 tw-bg-red tw-rounded-full tw-py-px tw-px-1 tw-mx-2 hover:tw-shadow hover:tw-bg-red-lightest hover:tw-border-red tw-border tw-border-transparent tw-border-solid all-duration-1 focus:tw-outline-none"
                                        @click.prevent="deleteTask(task)"
                                    >
                                        <img class="icon-delete tw-inline-block tw-h-4" src="/assets/img/delete.svg">
                                    </button>
                                    <button
                                        class="tw-flex-shrink-0 tw-opacity-75 hover:tw-opacity-100 all-duration-1 tw-mx-2 focus:tw-outline-none"
                                        v-if="! isDone(task.done)"
                                        @click.prevent="doneTask(task)"
                                    >
                                        <img class="icon-done tw-inline-block tw-h-6" src="/assets/img/done.svg">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </transition-group>
                </template>
                <template v-else>
                    <span class="task-nothing tw-w-full tw-text-center tw-text-yellow-darkest tw-capitalize">There is nothing</span>
                </template>
            </li>
        </transition-group>

        <!-- modal -->
        <modal v-if="showModal" @close="closeModal">
            <template v-slot:header>
                {{ modalData.title }}
            </template>
            <div class="modal-task-datetime">
                <h3 class="tw-text-xl tw-font-bold tw-text-blue-darker tw-text-center">
                    {{ dateStringShow(modalData.date_todo,'YYYY MMMM D , dddd') }}
                </h3>
                <h3 class="task-item-title tw-text-xl tw-mb-3 tw-font-bold tw-text-center">
                    {{ modalData.time_todo }} o'clock
                </h3>
                <p>
                    {{ modalData.description }}
                </p>
                <span class="tw-inline-block tw-text-sm tw-text-grey tw-mt-3">
                    created at
                    {{ dateStringShow(modalData.created_at,'YYYY MMMM D , dddd') }}
                </span>
            </div>
        </modal>
    </div>
</template>
<script>
export default {
    name: 'task-calendar',
    props: {
        userId: {
            type: Number,
            required: true
        },
    },
    components: {},
    data() {
        return {
            selectedDate: '',
            dates: [],
            tasks: [],
            showModal: false,
            modalData: [],
        }
    },
    computed: {
        validate() {
            return true;
        },

        selectedDateString() {
            return window.moment(this.selectedDate).format('YYYY MMMM')
        }
    },
    watch: {
        selectedDate: function(val) {
            this.setDates()
            this.retrieve()
        },
    },
    methods: {

        setDates() {
            var totalDay = window.moment(this.selectedDate).daysInMonth()
            var startDate = window.moment(this.selectedDate).startOf('month').format('YYYY-MM-DD')

            for (var i = 0; i < totalDay; i++) {
                this.dates.push(window.moment(startDate).add(i, 'days').format('YYYY-MM-DD'))
            }
        },

        dateStringShow(date, format = 'dddd, D :') {
            return window.moment(date).format(format)
        },

        isDone(state) {
            return state == 1 || state == true
        },

        closeModal() {
            this.showModal = false
            this.modalData = []
        },

        // get all user's task in a special date
        async retrieve() {

            await axios.get(`/api/schedule/${this.userId}/month/${this.selectedDate}`)
                .then(response => {
                    this.tasks = JSON.parse(response.data.data)
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },

        showTask(task) {
            this.showModal = true
            this.modalData = task
        },

        editTask(task) {
            this.$bus.$emit('editSchedule', task)
        },

        async deleteTask(task) {

            await axios.delete(`/api/schedule/${task.id}`)
                .then(response => {
                    var index = this.tasks[task.date_todo].map(item => item.id).indexOf(task.id)
                    this.tasks[task.date_todo].splice(index, 1)

                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })

        },

       async doneTask(task) {

            await axios.put(`/api/schedule/${task.id}/done`)
                .then(response => {
                    this.$bus.$emit('updatedDoneSchedule',task)
                    var index = this.tasks[task.date_todo].map(item => item.id).indexOf(task.id)
                    this.tasks[task.date_todo][index].done = true
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })

        },

    },
    created() {

        this.$bus.$on('chooseDateSchedule', (data) => {
            this.selectedDate = data
        })

        this.$bus.$on('updatedSchedule', (data, old) => {
            this.retrieve()
        })

        this.$bus.$on('createdSchedule', (data) => {
            this.retrieve()
        })

    },
    beforeDestroy() {
        this.$bus.$off(['chooseDateSchedule','updatedSchedule','createdSchedule'])
    },
    mounted() {}

}

</script>
