<template>
    <div class="tw-mx-auto tw-max-w-xs tw-flex tw-items-center tw-border-b tw-border-b-2 tw-border-blue tw-py-1 tw-mb-3 o">
        <label class="tw-flex-shrink-0 tw-text-xs tw-text-dark tw-capitalize tw-px-2">
            choose date show :
        </label>
        <datetime input-id="date-show" v-model="date" type="date" format="yyyy-MM" :flow="['year','month']" class="tw-w-full"></datetime>
    </div>
</template>
<script>
export default {
    name: 'choose-date',
    data() {
        return {
            date:'',
            test:'fdf'
        }
    },
    watch: {
	    date:  function(val) {

	    	this.eventChange(val.substring(0,10))
	    },
	},
    methods: {
        eventChange(date) {
            this.$bus.$emit('chooseDateSchedule',date)
        }
    },
    created(){
    	this.date = window.moment().format('YYYY-MM-DD')
    }
}
</script>
