<template>
	<div class="task-form-section">

		<div class="head tw-mb-4">
	        <h2 class="tw-text-lg tw-text-center tw-m-2 tw-text-dark tw-font-bold tw-uppercase">
	            <span class="tw-border-b tw-border-dashed tw-border-grey">{{ isType }} task</span>
	        </h2>
	    </div>
	    <form class="tw-w-full tw
        eventChange(date) {
            this.$bus.$emit('chooseDateSchedule',date)
        }
    },-max-w-md tw-mx-auto " @submit.prevent="action()">

	    	<div class="tw-mx-auto tw-flex tw-items-center tw-border-b tw-border-b-2 tw-border-blue tw-py-1 tw-mb-3 o">
	            <label class="tw-flex-shrink-0 tw-text-dark tw-capitalize tw-px-2">
	                date :
	            </label>
	            <datetime input-id="date" v-model="date" type="date" format="yyyy-MM-dd" class="tw-w-full"></datetime>
	        </div>

	        <div class="tw-mx-auto tw-flex tw-items-center tw-border-b tw-border-b-2 tw-border-blue tw-py-1 tw-mb-3 o">
	            <label class="tw-flex-shrink-0 tw-text-dark tw-capitalize tw-px-2">
	                time :
	            </label>
	            <datetime input-id="time" v-model="time" type="time" format="HH:mm" class="tw-w-full"></datetime>
	        </div>

	        <div class="tw-mx-auto tw-flex tw-items-center tw-border-b tw-border-b-2 tw-border-blue tw-py-1 tw-mb-3 o">
	            <label class="tw-flex-shrink-0 tw-text-dark tw-capitalize tw-px-2">
	                title :
	            </label>
	            <input class="form-field" type="text" name="title" placeholder="write title for meeting" aria-label="title" v-model="title" />
	        </div>

	         <div class="tw-mx-auto tw-border-b tw-border-b-2 tw-border-blue tw-py-1 tw-mb-3">
	            <label class="tw-flex-shrink-0 tw-text-dark tw-capitalize tw-py-px tw-px-2">
	                description :
	            </label>
	            <textarea class="form-field" type="text" name="description" placeholder="write title for meeting" aria-label="title" rows="5" v-model="description"></textarea>
	        </div>

	        <div class="btn-group tw-flex tw-justify-between">
	        	<button v-if="isType == 'create'" class="tw-bg-green hover:tw-bg-green-darker tw-border-green hover:tw-border-green-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none" type="submit">
	            	create
	        	</button>
	        	<button  v-if="isType == 'update'" class=" tw-bg-purple hover:tw-bg-purple-darker tw-border-purple hover:tw-border-purple-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none " type="submit">
	            	update
	        	</button>
	        	<button class="tw-bg-red hover:tw-bg-red-darker tw-border-red hover:tw-border-red-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none " type="button" @click.prevent="reset">
	            	cancel
	        	</button>
	        </div>
	    </form>
	</div>
</template>
<script>
	export default{
		name:'task-form',
   		props: {
	        userId: {
	            type: Number,
	            required:true
	        },
	     },
		data(){
			return {
				isType:'create',
				date:'',
				time:'',
				title:'',
				description:'',
				done:false,
				scheduleId:null,
				data:[],
				oldData:[]

			}
		},
		computed: {
	        validate () {
	            return this.date == '' || this.title == '' ;
	        },
	        getData(){

				return {
						user_id: this.userId,
						date_todo: this.date.substring(0,10),
						time_todo: this.time,
						title: this.title,
						description: this.description,
						done: this.done
					}
			}
	    },
	    watch: {
		    time: function (val) {

		    	if (val.length == 0) {
		    		this.time = ''
		    	}else if (val.length > 5) {
					this.time = window.moment(val).format("HH:MM")
				}else{
					this.time = window.moment('2020-01-24').add(window.moment.duration(val)).format("HH:MM")
				}
		    },
		},
		methods:{
			reset(){
				this.isType = 'create'
				this.date =''
				this.time =''
				this.title =''
				this.description =''
				this.data =[]
				this.done = false
				this.scheduleId = null,
				this.oldData =[]
			},
			async create() {
				if (this.validate) {
					console.log('input in empty')
				}else{

					await axios.post('/api/schedule', this.getData)
								.then(response => {
									this.$bus.$emit('createdSchedule', response.data.data)
									this.reset()
									console.log(response.data.data)
								})
								.catch(error => {
									console.log( error.response.data.errors)
								})
				}
			},
			async update() {

				if (this.validate) {
					console.log('input in empty')
				}else{

					await axios.put(`/api/schedule/${this.scheduleId}`, this.getData)
								.then(response => {
									this.$bus.$emit('updatedSchedule', response.data.data, this.oldData)
									this.reset()
								})
								.catch(error => {
									console.log( error.response.data.errors)
								})
				}
			},
			action(){
				if (this.isType == 'create') {
					this.create()
				}
				if (this.isType == 'update') {
					this.update()
				}
			},
			setData(data){
				this.date = data.date_todo
				this.time = data.time_todo
				this.title = data.title
				this.description = data.description
				this.done = data.done
				this.scheduleId = data.id
			},
		},
		created(){
			this.$bus.$on('editSchedule', (data) => {
				this.isType = 'update'
				this.setData(data)
				this.oldData = data
			})
		},
		beforeDestroy(){
			this.$bus.$off('editSchedule')

        },


	}
</script>