<template>
    <div id="users" class="tw-px-2">
        <user-form class="tw-mb-12" @created="addUser"></user-form>
        <section class="tw-w-full tw-max-w-md tw-mx-auto tw-relative  ">
                <transition-group name="fade" tag="ul">
                    <li
                            class="tw-flex tw-justify-between tw-items-center tw-p-2 tw-border  tw-border-dashed tw-border-grey tw-mb-1"
                            v-for="user in users"
                            :key="user.id"
                    >
                        {{ user.name }}
                        <div class="btn-group">
                            <a
                                class="btn tw-inline-block tw-bg-purple hover:tw-bg-purple-darker tw-border-purple hover:tw-border-purple-darker tw-text-xs tw-border-4 tw-text-white tw-capitalize tw-py-px tw-px-1 tw-rounded all-duration-1 tw-leading-normal sm:tw-text-sm"
                                :href="showUrl(user.id)"
                            >show schedules</a>
                            <button
                                class="btn tw-inline-block tw-bg-red hover:tw-bg-red-darker tw-border-red hover:tw-border-red-darker tw-text-xs tw-border-4 tw-text-white tw-capitalize tw-py-px tw-px-1 tw-rounded all-duration-1 tw-leading-normal sm:tw-text-sm"
                                type="button"
                                @click.prevent="remove(user.id)"
                            >delete</button>
                        </div>
                    </li>
                </transition-group>
        </section>
    </div>
</template>
<script>
import UserForm from './userForm.vue'
export default {
    name: "users",
    components: {
        UserForm
    },
    data() {
        return {
            users: [],
        }
    },
    methods: {
        // user's schedule page url
        showUrl(id) {
            return "/user/" + id + "/schedule"
        },
        // get all users
        async retrieve() {

            await axios.get('/api/user')
                .then(response => {
                    this.users = response.data.data
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        // remove user by id
        async remove(id) {

            await axios.delete('/api/user/' + id)
                .then(response => {
                    var index = this.users.map(user => user.id).indexOf(id)
                    this.users.splice(index, 1)
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        // add user when running event 'created' on user form
        addUser(user) {
            this.users.push(user)
        }
    },
    created() {
        this.retrieve()
    },
}

</script>
