<template>
	<form
   		class="tw-w-full tw-max-w-md tw-mx-auto tw-flex tw-items-center tw-border-b tw-border-b-2 tw-border-blue tw-py-1"
   		@submit.prevent="create()"
        method="post"
	>
        <input
            class="tw-appearance-none tw-bg-transparent tw-border-none tw-w-full tw-text-grey tw-mr-3 tw-py-1 tw-px-2 tw-leading-tight focus:tw-outline-none"
            type="text"
            name="name"
            placeholder="insert full name"
            aria-label="Full name"
            v-model="name"
         />
        <button
            class="tw-flex-shrink-0 tw-bg-green hover:tw-bg-green-darker tw-border-green hover:tw-border-green-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none"
            type="submit"
        >
            create user
        </button>
    </form>
</template>
<script>
export default {
    name: "user-form",
    data() {
        return {
            name: null,
        }
    },
    methods: {
        async create() {

            if (this.name == '' || this.name == null) {
                console.log('empty')
            }else{
                await axios.post('/api/user', this.$data)
                    .then(response => {
                        this.name = null
                        this.$emit('created', response.data.data)
                    })
                    .catch(error => {
                        console.log( error.response.data.errors)
                    })
            }

        },
    }
}

</script>
